Repository King-BR/Discord.js-Bot-Template, changes with the labels that .github/labeler.yml gives for each.
All labels: translation, commands, events, examples, utils, dependencies

.github/labeler.yml:

translation:
  - bundles/**/*

commands:
  - commands/**/*

events:
  - events/**/*

examples:
  - examples/**/*

utils:
  - utils/**/*

dependencies:
  - any: ["package.json", "package-lock.json"]

Create node.js.yml
  .github/workflows/node.js.yml
Labels: none

Add prettier check
  package.json
Labels: none

Add CHANGELOG.md
  CHANGELOG.md
Labels: none

Update README
  README.md
Labels: none

Change translators table style
  package-lock.json
  package.json
Labels: none

wip
  utils/index.js
Labels: utils

Create about command
  commands/Info/about.js
  config.json
  examples/commands/command.js
  package-lock.json
  package.json
Labels: commands, examples

Update changelog
  CHANGELOG.md
Labels: none

Change template version
  package.json
Labels: none

Update about command
  commands/Info/about.js
  config.json
Labels: commands

Create message event
  bundles/bundle_en-US.json
  events/Message/message.js
Labels: translation, events

wip
  .gitignore
  package-lock.json
Labels: none

Create ready event
  events/Client/ready.js
Labels: events

Update index.js
  index.js
Labels: none

Update template.env
  examples/template.env
Labels: examples

Update ready event
  events/Client/ready.js
Labels: events

wip
  .gitignore
  package-lock.json
Labels: none

[TRANSLATION] Update Portuguese, Brazilian translation from Crowdin
  bundles/bundle_pt-BR.json
Labels: translation

[TRANSLATION] Update Japanese translation from Crowdin
  bundles/bundle_ja-JP.json
Labels: translation

[TRANSLATION] Update Chinese Traditional translation from Crowdin
  bundles/bundle_zh-TW.json
Labels: translation

[TRANSLATION] Update Chinese Simplified translation from Crowdin
  bundles/bundle_zh-CN.json
Labels: translation

[TRANSLATION] Update Ukrainian translation from Crowdin
  bundles/bundle_uk-UA.json
Labels: translation

[TRANSLATION] Update Turkish translation from Crowdin
  bundles/bundle_tr-TR.json
Labels: translation

[TRANSLATION] Update Swedish translation from Crowdin
  bundles/bundle_sv-SE.json
Labels: translation

[TRANSLATION] Update Serbian (Cyrillic) translation from Crowdin
  bundles/bundle_sr-SP.json
Labels: translation

[TRANSLATION] Update Russian translation from Crowdin
  bundles/bundle_ru-RU.json
Labels: translation

[TRANSLATION] Update Portuguese translation from Crowdin
  bundles/bundle_pt-PT.json
Labels: translation

[TRANSLATION] Update Polish translation from Crowdin
  bundles/bundle_pl-PL.json
Labels: translation

[TRANSLATION] Update Norwegian translation from Crowdin
  bundles/bundle_no-NO.json
Labels: translation

[TRANSLATION] Update Dutch translation from Crowdin
  bundles/bundle_nl-NL.json
Labels: translation

[TRANSLATION] Update Korean translation from Crowdin
  bundles/bundle_ko-KR.json
Labels: translation

[TRANSLATION] Update Italian translation from Crowdin
  bundles/bundle_it-IT.json
Labels: translation

[TRANSLATION] Update Romanian translation from Crowdin
  bundles/bundle_ro-RO.json
Labels: translation

[TRANSLATION] Update Hungarian translation from Crowdin
  bundles/bundle_hu-HU.json
Labels: translation

[TRANSLATION] Update Hebrew translation from Crowdin
  bundles/bundle_he-IL.json
Labels: translation

[TRANSLATION] Update Finnish translation from Crowdin
  bundles/bundle_fi-FI.json
Labels: translation

[TRANSLATION] Update Greek translation from Crowdin
  bundles/bundle_el-GR.json
Labels: translation

[TRANSLATION] Update German translation from Crowdin
  bundles/bundle_de-DE.json
Labels: translation

[TRANSLATION] Update Danish translation from Crowdin
  bundles/bundle_da-DK.json
Labels: translation

[TRANSLATION] Update Czech translation from Crowdin
  bundles/bundle_cs-CZ.json
Labels: translation
