Repository King-BR/Discord.js-Bot-Template, changes with the labels that .github/labeler.yml gives for each.
All labels: source, translation, commands, events, examples, utils, extensions, structures, dependencies

.github/labeler.yml:

source:
  - src/**/**/*

translation:
  - src/languages/*

commands:
  - src/commands/**/*

events:
  - src/events/**/*

examples:
  - examples/**/*

utils:
  - src/utils/**/*

extensions:
  - src/extensions/*

structures:
  - src/structures/*

dependencies:
  - any: ["package.json", "package-lock.json"]

[TRANSLATION] Update Portuguese, Brazilian translation from Crowdin
  src/languages/pt-BR.json
Labels: source, translation

update index
  index.js
Labels: none

Create example .env
  example.env
Labels: none

Add options
  config.json
Labels: none

Start creation of custom client
  src/classes/CustomClient.js
Labels: source

Update CustomClient
  package-lock.json
  package.json
  src/classes/CustomClient.js
Labels: source

run lint
  index.js
Labels: none

update packages
  package-lock.json
  package.json
Labels: none

update index.js
  index.js
Labels: none

update CustomClient
  src/classes/CustomClient.js
Labels: source

update CustomClient
  src/classes/CustomClient.js
Labels: source

start creating custom logger
  src/utils/logger.js
Labels: source, utils

create utils
  src/utils/utils.js
Labels: source, utils

Create .bettercodehub.yml
  .bettercodehub.yml
Labels: none
