Repository King-BR/Discord.js-Bot-Template, changes with the labels that .github/labeler.yml gives for each.
All labels: translation, commands, events, examples, utils, dependencies

.github/labeler.yml:

translation:
  - bundles/**/*

commands:
  - commands/**/*

events:
  - events/**/*

examples:
  - examples/**/*

utils:
  - utils/**/*

dependencies:
  - any: ["package.json", "package-lock.json"]

[TRANSLATION] Update Catalan translation from Crowdin
  bundles/bundle_ca-ES.json
Labels: translation

[TRANSLATION] Update Arabic translation from Crowdin
  bundles/bundle_ar-SA.json
Labels: translation

[TRANSLATION] Update Afrikaans translation from Crowdin
  bundles/bundle_af-ZA.json
Labels: translation

[TRANSLATION] Update Spanish translation from Crowdin
  bundles/bundle_es-ES.json
Labels: translation

[TRANSLATION] Update French translation from Crowdin
  bundles/bundle_fr-FR.json
Labels: translation

[TRANSLATION] Update Vietnamese translation from Crowdin
  bundles/bundle_vi-VN.json
Labels: translation

[TRANSLATION] Update %language% translation from Crowdin
  bundles/bundle_en-US.json
Labels: translation

[TRANSLATION] Update Portuguese, Brazilian translation from Crowdin
  bundles/bundle_pt-BR.json
Labels: translation

[TRANSLATION] Update Portuguese, Brazilian translation from Crowdin
  bundles/bundle_pt-BR.json
Labels: translation

Create isDev util
  utils/index.js
Labels: utils

Update about command
  commands/Info/about.js
Labels: commands

Update about command
  commands/Info/about.js
Labels: commands

Create help command
  bundles/bundle_en-US.json
  commands/Info/help.js
  utils/translation.js
Labels: translation, commands, utils
